.boy{
    background-color: cadetblue;
    color: wheat;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    margin-top: 5px;
}

.bor{
    border: 4px dotted lightskyblue;
    border-radius: 15px;
    padding: 5px;
    font-size: large;
    font-weight: lighter;
}

.fol{
    color: #0f1419;
    width: 150px;
    border: 1px solid #cfd9de;
    border-radius: 20px;
    background: white;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

/* google css */

.main{
    margin-top: 100px;
}


.search {
    display: block;
    width:800px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.logo{
    display: block;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}

.but{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    background: #dfe1e5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.fee{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    background: #dfe1e5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.pet{
    display: block;
    margin-top: 20px;
   text-align: center;
   font-size: 18px;
}

/* flag css */

.flag{
    display: flex;
    position:absolute;
    top:2%;
    width: 200px;
    height: 100px;
    left: 2%;
}

.green{
    background-color: green;
    height: 30px;
}

.white{
    background-color: white;
    height: 30px;
}

.green1{
    background-color: green;
    height: 30px;
}

/* Personal card */

.cla{
    background-color: rgba(196, 142, 71, 0.397);
}

.pix{
    border:5px dotted blue ;
    padding: 20px;
    width:50 px;

}

.card{
    display: block;
    background-color: lightseagreen;
    border:2px dotted darkgreen;
    border-radius: 20px;
    padding: 20px;
    font-family: verdana;
    font-style: italic;
    max-width: 400px;
    
}

   
.card1{
    display: flex;
    background-color: maroon;
    color: wheat;
    border: 2px solid maroon;
    border-radius: 20px;
    padding: 25px;
    font-family: sans-serif;
    font-style: italic;
    font-size: bold;
   /* justify-content: space-around;*/
    margin: 0 auto;
    max-width: 400px;
    max-height: 150px;
    line-height: 1.5;
}

 /*.pcard{
    margin-top:5px;
    padding:10px;
    text-align: center;
   
}*/

/* subscribution card*/

.price{
    display: flex;

}

/* Join The Exploration*/

.app{
    background:white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'orbitron', sans-serif;
}

  @font-face{
        src: url("the-godfather.regular.ttf");
        font-family: corleone;
    }

    h2{
        font-family: corleone;
        font-size: 80px;
        color:white;
    }

    .exp{
        border-bottom: 5px solid white;
    }

    /* joker prize */

    .joker{
        background: #35654d;
        border: 5px solid #a3bc71;
        text-align: center;
    }

    .pan{
        border: 2px solid #a3bc71;
        padding: 5px 10px;
        background: #8f4737;

    }


